<div class="prop-container">
  <div class="top-side">
    <div class="images-container"> <!-- galéria -->

    </div>
    <div class="uploader-datas"> <!-- user adatai, üzenetküldés -->

    </div>
  </div>
  <div class="second-side">
    <div class="prop-datas-container"> <!-- ingatlan adatai táblázatban-->
      <table></table>
    </div>
  </div>
  <div class="bottom-side">
    <div class="significant-props"> <!-- hasonló ingatlanok (város, kerület, méret és ár alapján) -->

    </div>
  </div>
</div>
