.form-container{
  margin: 50px 0 10px 0;
  background: rgb(58,119,48);
  padding: 30px 5px;
  .city-input{
    background: white;
    width: 75%;
    margin-left: 15px;
    input{
      background: white;
    }
  }
}
