<div class="search-bar">
  <mat-form-field class="city-input" appearance="outline">
    <mat-label>Város, település</mat-label>
    <input #search (keyup.enter)="onEnter(search.value)" matInput placeholder="Város" type="text" >
  </mat-form-field>
  <button type="submit" (click)="onEnter(search.value)" mat-button>Keresés</button>
</div>
<div class="left-side">
  <div class="prop-card-container" *ngIf="this.filter == false">
    <div class="props-container" *ngFor="let prop of props">
      <div class="prop-card">
        <div class="img-container">
          <img src="{{prop.image}}">
        </div>
        <button mat-button>Megnézem</button>
        <div class="card-text">
          <p>{{prop.city}}<span *ngIf="prop.city=='Budapest'">, {{prop.city2}}</span></p>
          <p>{{prop.price | currency:'HUF'}}</p>
          <ul>
            <li>{{prop.size}} négyzetméter</li>
            <li>Szobák: {{prop.numberOfRooms}}</li>
            <li>{{prop.condition}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="prop-card-container" *ngIf="this.filter == true">
    <div class="props-container" *ngFor="let prop of props">
      <div class="prop-card" *ngIf="prop.city == this.city">

      </div>
    </div>
  </div>
</div>
<div class="right-side"></div>




