<div class="profile-container">
  <h2>Üdvözlünk, <span>{{this.user}}</span>!</h2>
  <div class="left-side">
    <img src="../../../assets/images/avatar.png">
    <table class="user-options">
      <tr>
        <td><a routerLink="homepage">Profil szerkesztése</a></td>
      </tr>
      <tr>
        <td><a routerLink="homepage">Jelszó módosítása</a></td>
      </tr>
      <tr>
        <td><a routerLink="homepage">Feltöltött ingatlanok</a></td>
      </tr>
      <tr>
        <td><a routerLink="homepage">Üzenetek</a></td>
      </tr>
    </table>
  </div>
  <div class="right-side">
    <table class="user-datas">
      <tr>
        <td>Név:</td>
        <td>{{this.userData.lastName}}</td>
      </tr>
      <tr>
        <td>Email cím:</td>
        <td>{{this.userData.email}}</td>
      </tr>
      <tr>
        <td>Telefonszám:</td>
        <td>{{this.userData.phone}}</td>
      </tr>
      <tr>
        <td>Cím:</td>
        <td></td>
      </tr>
      <tr>
        <td>Munka:</td>
        <td></td>
      </tr>
      <tr>
        <td>Regisztráció dátuma:</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
